body{ /* Normal  */
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
  }
td {  /* Table  */
  font-size: 16px;
}
title {
  font-size: 38px;
  font-family: "Times New Roman", Times, serif;
  color: Black;
}
h1 { /* Header 1 */
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  color: Black;
}
h2 { /* Header 2 */
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  color: Black;
}
h3 { /* Header 3 */
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: Black;
}
.r{ /* Code block */
  font-size: 12px;
}
pre { /* Code block - determines code spacing between lines */
  font-size: 16px;
}
.caption {
  font-size: 16px;
  font-style: italic;
  color: grey;
  margin-right: 5%;
  margin-left: 5%;  
  text-align: justify;
}
caption {
  font-size: 16px;
  font-style: italic;
  color: grey;
  margin-right: 5%;
  margin-left: 5%;  
  text-align: justify;
}
.buttond {
  background-color: white;
  color: black;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.buttont {
  background-color: white;
  color: black;
  border: 1px solid #555555;
}
.buttont:hover {
  background-color: #555555;
  color: white;
}


/* Tomorrow Night Bright Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #969896;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #d54e53;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #e78c45;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #e7c547;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #b9ca4a;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #7aa6da;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #c397d8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: black;
  color: #eaeaea;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}



